/* /frontend/src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Fond clair pour le reste de la page */
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  margin: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #4CAF50; /* Survol d’un lien */
}
